<div class="container">
  
  <div class="header text-center">
    <h2>Viewer Demo</h2>
  </div>

  <!-- Thing. -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Available Demos</h3>
    </div>

    <div class="panel-body">

      <ul>
	<li>
          <a href="#01">
            All shape/glyphs
          </a>
	</li>
      </ul>

      <ul>
	<li>
          <a href="#02">
            All data/plotting
          </a>
	</li>
      </ul>

    </div>
  </div>

  <div id="01" class="panel panel-default">
    <div class="panel-body">
      <div id="graph01" style="width: 800px; height: 600px;"></div>
    </div>
  </div>
  
  <div id="02" class="panel panel-default">
    <div class="panel-body">
      <div id="graph02" style="width: 800px; height: 600px;"></div>
    </div>
  </div>
  
</div>
